<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estás aquí :</strong> inicio / <span class="ubicacionNavegacion">Blog</span><!--<a class="btn btn-default pull-right" ng-href="#/blogAdministrator">administrator</a>--></h4>  
</div>
<div class="backgroundLoaderBlog" id="backgroundLoaderBlog"></div>
<div class="loaderBlog" id="loader"></div>
<div class="row myContainer innerTopOn" id="containerBlog" ng-show="vm.switchLoader">
<!-- 
==================
BIG CARD
==================
-->
    <div class="col-xs-12 innerBottomOn">
         <div class="example-2 card blog">
            <div class="wrapper" style="background-image: url('{{ vm.noticia.image }}');">
                <div class="headerBlog">
                    <div class="date">
                        <span>{{ vm.noticia.date|date:yy/mm/dd }}</span>
                    </div>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">{{ vm.noticia.author }}</span>
                        <h1 class="blogTitle">{{ vm.noticia.title | limitTo:90 }}</h1>
                        <p class="text">{{vm.noticia.text | limitTo:200 }}</p>
                        <p class="button leerMasBlog" data-toggle="modal" data-target="#BlogModal">Leer Más</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- 
    ==================
    SMALL CARD
    ==================
    -->
    
    <div class="col-xs-4 innerBottomOn resposiveDiv" ng-repeat="new in vm.dataArray | orderBy:'-date'">
         <div class="example-2 card blog">
            <div class="wrapper" style="background-image: url('{{ new.image }}');">
                <div class="headerBlog">
                     <div class="date">
                        <span>{{ new.date|date:yy/mm/dd }}</span>
                    </div>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">{{ new.author }}</span>
                        <h1 class="blogTitle"  ng-click="vm.selectNew(new)">{{ new.title | limitTo:40 }}</h1>
                        <p class="text">{{ new.text | limitTo:200 }}</p>
                        <p  class="button leerMasBlog" data-toggle="modal" data-target="#BlogModalTradicional" ng-click="vm.selectNew(new)">Leer Más</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
<!-- 
==================
MODAL CONTENT SMALL CARD
==================
-->
        <div class="modal fade" id="BlogModalTradicional" role="dialog">
            <div class="modal-dialog modal-dialog-blog">
                <div class="modal-content modal-content-blog">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>			
                        <form class="myContainer text-center">
                            <img ng-src="{{  vm.currentNew.image }}" class="modalImage">
                            <p>{{  new.author }}</p>
                            <h1 class="ModalTitle innerBottomOn">{{ vm.currentNew.title }}</h1>       
                            <p class="modalText">{{  vm.currentNew.text }}</p>           
                        </form>		
                    </div>
                </div>  
            </div>
        </div> 
<!-- 
==================
MODAL CONTENT BIG CARD
==================
-->
 <div class="modal fade" id="BlogModal" role="dialog">
    <div class="modal-dialog modal-dialog-blog">
        <div class="modal-content modal-content-blog">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>			
                <form class="myContainer text-center">
                    <img ng-src="{{  vm.noticia.image }}" class="modalImage">
                    <p>{{  vm.noticia.author }}</p>
                    <h1 class="ModalTitle innerBottomOn">{{ vm.noticia.title }}</h1>       
                    <p class="modalText">{{  vm.noticia.text }}</p>           
                </form>		
            </div>
        </div>  
    </div>
</div>
