<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estás aquí :</strong> <span class="ubicacionNavegacion">Normatividad</span></h4>  
</div>
     <div class="myContainerResponsive" style="overflow: visible;">
         <div class="col-xs-3 text-center colxs4Responsive divBorderRight">
            <a href="{{vm.pdf[0].src}}"  download="Normatividad.zip" class="animated normImg1" target="_blank">
                <img  src="{{vm.pdf[0].img}}"  class="imgNormatividad" alt="">         
            </a>  
            <h2><strong>{{vm.pdf[0].titulo}}</strong></h2>          
         </div>
         <div class="col-xs-3 text-center colxs4Responsive divBorderRight">
            <a href="{{vm.pdf[1].src}}" class="animated normImg1" target="_blank">
                <img src="{{vm.pdf[1].img}}" class="imgNormatividad" alt="" >
            </a>
            <h2><strong>{{vm.pdf[1].titulo}}</strong></h2>         
         </div>
         <div class="col-xs-3 text-center colxs4Responsive divBorderRight">
            <a href="{{vm.pdf[2].src}}" class="animated normImg1" target="_blank">
                <img src="{{vm.pdf[2].img}}"   class="imgNormatividad" alt="">
            </a>
            <h2><strong>{{vm.pdf[2].titulo}}</strong></h2>
         </div>
         <div class="col-xs-3 text-center colxs4Responsive">
            <a href="{{vm.pdf[3].src}}" class="animated normImg1" target="_blank">
                <img  src="{{vm.pdf[3].img}}"  class="imgNormatividad" alt="">         
            </a>  
            <h2><strong>{{vm.pdf[3].titulo}}</strong></h2>          
        </div>  
    </div>
    <div  class="container innerBottomOn"></div>