<!--
==============================
    Breadcrumb navigation
==============================
-->
<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estás aquí :</strong> Acreditación / <span class="ubicacionNavegacion">Organismos Acreditadores</span></h4>
</div>


<div class="myContainer  innerTopOn">
    <div class="row innerBottomOn">
        <!--
================================================================
                            CACECA
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.cacecaHover?'images/acreditacion/7.png':'images/acreditacion/caceca.jpg'}}')" ng-mouseover="vm.cacecaHover =! vm.cacecaHover"
                    ng-mouseleave="vm.cacecaHover =! vm.cacecaHover" id="img"></div>
                <figcaption>
                    <h2>CACECA</h2>
                    <p>{{vm.caceca | limitTo: vm.cacecaSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.cacecaSwitch =! vm.cacecaSwitch">{{vm.cacecaSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://caceca.org" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            CIEES
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.cieesHover?'images/acreditacion/2.png':'images/acreditacion/bg1.jpg'}}')" ng-mouseover="vm.cieesHover =! vm.cieesHover"
                    ng-mouseleave="vm.cieesHover =! vm.cieesHover" id="img"></div>
                <figcaption>
                    <h2>CIEES</h2>
                    <p>{{vm.ciees | limitTo: vm.cieesSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.cieesSwitch =! vm.cieesSwitch">{{vm.cieesSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://www.ciees.edu.mx" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            COAPEHUM
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.coapehumHover?'images/acreditacion/3.jpg':'http://coapehum.org/images/evaluacion.jpg'}}')" ng-mouseover="vm.coapehumHover =! vm.coapehumHover"
                    ng-mouseleave="vm.coapehumHover =! vm.coapehumHover" id="img"></div>
                <figcaption>
                    <h2>COAPEHUM</h2>
                    <p>{{vm.coapehum | limitTo: vm.coapehumSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.coapehumSwitch =! vm.coapehumSwitch">{{vm.coapehumSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://coapehum.org" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            CONCAPREN
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.concaprenHover?'images/acreditacion/4.png':'images/acreditacion/bg1.jpg'}}')" ng-mouseover="vm.concaprenHover =! vm.concaprenHover"
                    ng-mouseleave="vm.concaprenHover =! vm.concaprenHover" id="img"></div>
                <figcaption>
                    <h2>CONCAPREN</h2>
                    <p>{{vm.concapren | limitTo: vm.concaprenSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.concaprenSwitch =! vm.concaprenSwitch">{{vm.concaprenSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://www.concapren.org.mx" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            CACEB AC
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.cacebHover?'images/acreditacion/caceb.jpg':'images/acreditacion/bg1.jpg'}}')" ng-mouseover="vm.cacebHover =! vm.cacebHover"
                    ng-mouseleave="vm.cacebHover =! vm.cacebHover" id="img"></div>
                <figcaption>
                    <h2>CACEB, A.C.</h2>
                    <p>{{vm.caceb | limitTo: vm.cacebSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.cacebSwitch =! vm.cacebSwitch">{{vm.cacebSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://caceb.com/" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            ANPROMAR
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.ampromarHover?'images/acreditacion/anpromar.jpg':'images/acreditacion/bg1.jpg'}}')"
                    ng-mouseover="vm.ampromarHover =! vm.ampromarHover" ng-mouseleave="vm.ampromarHover =! vm.ampromarHover"
                    id="img"></div>
                <figcaption>
                    <h2>ANPROMAR</h2>
                    <p>{{vm.ampromar | limitTo: vm.ampromarSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.ampromarSwitch =! vm.ampromarSwitch">{{vm.ampromarSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://www.anpromar.org/" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            CONAIC
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.conaicHover?'images/acreditacion/1.png':'images/acreditacion/bg1.jpg'}}')" ng-mouseover="vm.conaicHover =! vm.conaicHover"
                    ng-mouseleave="vm.conaicHover =! vm.conaicHover" id="img"></div>
                <figcaption>
                    <h2>CONAIC</h2>
                    <p>{{vm.conaic | limitTo: vm.conaicSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.conaicSwitch =! vm.conaicSwitch">{{vm.conaicSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://www.conaic.net/" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            ACOMEAA
================================================================
-->
        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.acomeaaHover?'images/acreditacion/8.png':'images/acreditacion/bg1.jpg'}}')" ng-mouseover="vm.acomeaaHover =! vm.acomeaaHover"
                    ng-mouseleave="vm.acomeaaHover =! vm.acomeaaHover" id="img"></div>
                <figcaption>
                    <h2>ACOMEAA</h2>
                    <p>{{vm.acomeaa | limitTo: vm.acomeaaSwitch? '150' :''}}</p>
                    <a href="" class="follow" ng-click="vm.acomeaaSwitch =! vm.acomeaaSwitch">{{vm.acomeaaSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://www.comeaa.org" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <!--
================================================================
                            CACEI
================================================================
-->

        <div class="col-xs-4 responsive">
            <figure class="snip1336">
                <div style="background-image:url('{{vm.caceiHover?'images/acreditacion/6.png':'images/acreditacion/bg1.jpg'}}')" ng-mouseover="vm.caceiHover =! vm.caceiHover"
                    ng-mouseleave="vm.caceiHover =! vm.caceiHover" id="img"></div>
                <figcaption>
                    <h2>CACEI</h2>
                    <p>{{vm.cacei | limitTo: vm.caceiSwitch? '160' :''}}</p>
                    <a href="" class="follow" ng-click="vm.caceiSwitch =! vm.caceiSwitch">{{vm.caceiSwitch? 'Ver más': 'Ok'}}</a>
                    <a href="http://cacei.org.mx/" target="_blank" class="info">Sitio Oficial</a>
                </figcaption>
            </figure>
        </div>
        <div class="innerBottomOn"></div>