<script>
    $(document).ready(function () { //  this function send top page after load
        $(window).scrollTop(0);
    }); 
</script>
 <!--
==============================
    Breadcrumb navigation
==============================
-->	
<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estás aquí :</strong> Acreditación / <span class="ubicacionNavegacion">Organismos Acreditadores</span></h4>  
</div>


<div class="myContainer  innerTopOn">
    <div class="row innerBottomOn">  
<!--
================================================================
                            CACECA
================================================================
-->	
         <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/7.png" class="imgBox" alt="CACECA">
        </div>
        <div class="col-xs-6 orgBoxText responsive">
            <h1>CACECA</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
                El CACECA es la institución certificada como Organización Acreditadora de la Educación Superior con el aval del Consejo para la Acreditación de la Educación Superior (COPAES), instancia capacitada y reconocida por el Gobierno Federal, a través de la Secretaría de Educación Pública (SEP), para conferir reconocimiento formal a favor de organizaciones cuyo fin sea acreditar programas académicos de educación superior, en este caso en las áreas Contables y Administrativas.
            </h4>
            <a ng-href="http://caceca.org" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
<!--
================================================================
                            CIEES
================================================================
-->	
        <div class="col-xs-6 orgBoxText">
             <h1>CIEES</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
               Los Comités Interinstitucionales para la Evaluación de la Educación Superior (CIEES) son nueve cuerpos colegiados, integrados por distinguidos académicos de instituciones de educación superior representativos de las diversas regiones del país, que tienen a su cargo la evaluación interinstitucional de programas, funciones, servicios y proyectos ubicados en el quehacer sustantivo de las instituciones.
            </h4>
            <a ng-href="http://www.ciees.edu.mx/" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/2.png" class="imgBox" alt="CIEES">
        </div>
<!--
================================================================
                            COAPEHUM
================================================================
-->	
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/3.png" class="imgBox" alt="COAPEHUM">
        </div>
        <div class="col-xs-6 orgBoxText responsive">
            <h1>COAPEHUM</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
                El Consejo para la Acreditación de Programas Educativos en Humanidades, A.C. (COAPEHUM) se encuentra facultado por el Consejo para la Acreditación de la Educación Superior, A.C. para llevar a cabo la revisión y análisis de los programas relativos a las Humanidades en México.
            </h4>
            <a ng-href="http://coapehum.org" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
<!--
================================================================
                            CONCAPREN
================================================================
-->	
        <div class="col-xs-6 orgBoxText">
             <h1>CONCAPREN</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
               El Consejo Nacional para la Calidad de los Programas Educativos en Nutriología, A.C. (CONCAPREN) es un organismo acreditador con una firme convicción de la importancia que representa la calidad de los programas educativos en Nutriología en el país; con la finalidad de contar     con preceptos claros, específicos y suficientes para la Acreditación.
            </h4>
            <a ng-href="http://www.concapren.org.mx" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/4.png" class="imgBox" alt="CONCAPREN">
        </div>
<!--
================================================================
                            CABEC AC
================================================================
-->	
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/5.png" class="imgBox" alt="CABEC AC">
        </div>
        <div class="col-xs-6 orgBoxText responsive">
            <h1>CABEC AC</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
                Dada la importancia que para el desarrollo de nuestro País representan las actividades en la formación de recursos humanos capacitados, en el ámbito Biológico, a través de las instituciones de educación tanto de nivel superior como medio superior y técnico profesional, se constituye el Comité de Acreditación de la Licenciatura en Biología.
            </h4>
            <a ng-href="http://caceb.com/" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
<!--
================================================================
                            CACEI
================================================================
-->	
        <div class="col-xs-6 orgBoxText">
             <h1>CACEI</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
               El Consejo de Acreditación de la Enseñanza de la Ingeniería, A.C., (CACEI) es una asociación civil sin fines de lucro. Su objetivo primordial es, mediante la acreditación de los programas educativos en el área de las ingenierías, promover que las instituciones de educación superior (IES) ofrezcan educación de calidad a los futuros egresados.
            </h4>
            <a ng-href="http://cacei.org.mx/" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/6.png" class="imgBox" alt="CACEI">
        </div>
<!--
================================================================
                            CONAIC
================================================================
-->	
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/1.png" class="imgBox" alt="CONAIC">
        </div>
        <div class="col-xs-6 orgBoxText responsive">
            <h1>CONAIC</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
                El CONAIC es una asociación civil con personalidad propia con la única y total responsabilidad de aplicar los procesos y que se basan en estándares y normas establecidas por diferentes organismos evaluadores.
            </h4>
            <a ng-href="http://www.conaic.net/" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
<!--
================================================================
                            ACOMEAA
================================================================
-->	
        <div class="col-xs-6 orgBoxText">
             <h1>ACOMEAA</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
               La Asociación Mexicana de Educación Agrícola Superior A.C. (AMEAS), de común acuerdo con el Comité de Ciencias Agropecuarias de los CIEES impulsaron en forma decidida la creación de un organismo especializado que promueve, evalúa y asegura la calidad y desarrollo de la educación agrícola del país.
            </h4>
            <a ng-href="http://www.comeaa.org" target="_blank" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/8.png" class="imgBox" alt="ACOMEAA">
        </div>
    </div>
</div>
