<div class="estasAqui">
	<h4 class="estasAquiTexto">
		<span id="responsive"><strong class="estasAquiColor">Estás aquí :</strong> Quienes Somos / <span class="ubicacionNavegacion">Sistemas de Gestión de Calidad</span><img id="flags" class="flagsSgc pull-right"  src="{{vm.language? 'images/sgc/mx.png':'images/sgc/usa.png'}}" ng-click="vm.flagAnimationClik(); vm.language =! vm.language;">
	</h4>
	</span>
</div>

<!--
==============================
            Banner
==============================
-->
<div class="innerBottomOn">
	<div class="col-xs-2"></div>
	<div class="col-xs-8 colXs6Responsive">
		<img src="images/sgc/imagen1.png" class="img-responsive  banner animated bounceInDown " alt="banner">
	</div>
	<div class="col-xs-2"></div>
</div>
<div class="myContainer subTitleSpace innerBottomOn">
	<!--
==============================
            Misión
==============================
-->

	<div class="row rowSpace">
		<div class="col-xs-6 colXs6Responsive">
			<img src="images/sgc/mision2.jpg" class="visibilityHidden sgcImages" id="imgMision" alt="MISIÓN">
		</div>
		<div class="col-xs-6 visibilityHidden" id="textMision">
			<h2 class="sgcTitleImages" ng-hide="vm.language">MISIÓN</h2>
			<h2 class="sgcTitleImages" ng-show="vm.language">MISSION</h2>
			<hr class="lineTitleSgc">
			<h3  ng-hide="vm.language">Formar profesionistas competitivos en el ámbito nacional e internacional que contribuyan al desarrollo de la sociedad
				y atiendan los problemas del entorno mediante innovación, la investigación y los procesos educativos de calidad con profesores
				de vanguardia que les permitan desempeñarse con excelencia en el ejercicio profesional.</h3>
				<h3 ng-show="vm.language">Train competitive professionals in the national and international field to contribute in the society and in order to address the environment problems through innovation, research and quality educational processes with vanguard teachers that allows them to perform with excellence in the professional practice.</h3>
		</div>
	</div>
	<!--
==============================
            visión
==============================
-->
	<div class="row rowSpace">
		<div class="col-xs-6  visibilityHidden colXs6Responsive" id="textVision">
			<h2 class="sgcTitleImages" ng-hide="vm.language">VISIÓN 2016-2020</h2>
			<h2 class="sgcTitleImages" ng-show="vm.language">VISION 2016-2020</h2>
			<hr class="lineTitleSgc">
			<h3 ng-hide="vm.language">La Universidad Estatal de Sonora es reconocida por su calidad en el desempeño de las funciones de docencia, vinculación,
				extensión e investigación, y por la excelencia de sus egresados.</h3>
			<h3 ng-show="vm.language">Universidad Estatal de Sonora is recognized for its quality in the performance of the teaching functions, linkage, extension and research, in order for graduates to achieve excellence.</h3>
		</div>
		<div class="col-xs-6 colXs6Responsive">
			<img src="images/sgc/vision3.jpg" id="imgVision" class="visibilityHidden sgcImages" alt="VISIÓN">
		</div>
	</div>
	<!--
==============================
    POLÍTICA DE CALIDAD
==============================
-->
	<div class="row rowSpace">
		<div class="col-xs-6 colXs6Responsive">
			<img src="images/sgc/vision.jpg" id="imgPoliticaDeCalidad" class="visibilityHidden sgcImages" alt="POLÍTICA DE CALIDAD">
		</div>
		<div class="col-xs-6 visibilityHidden colXs6Responsive" id="textPoliticaDeCalidad">
			<h2 class="sgcTitleImages"  ng-hide="vm.language">POLÍTICA DE CALIDAD</h2>
			<h2 class="sgcTitleImages"  ng-show="vm.language">QUALITY POLICY</h2>
			<hr class="lineTitleSgc">
			<h3 ng-hide="vm.language">“La Universidad Estatal de Sonora promueve la formación profesional de sus estudiantes, logrando egresados con excelencia,
				a través de una oferta educativa pertinente que cumple con las necesidades del entorno, mediante una administración ordenada,
				eficiente y funcional”.</h3>
			<h3 ng-show="vm.language">“Universidad Estatal de Sonora promotes students professional training development, achieving excellent graduates, through a relevant educational offer that accomplishes the environment needs through an orderly, efficient and functional administration”.</h3>
		</div>
	</div>
	<!--
==============================
    OBJETIVOS DE CALIDAD
==============================
-->
	<div class="row rowSpace">
		<div class="col-xs-6 visibilityHidden colXs6Responsive" id="textObjetivosDeCalidad">
			<h2 class="sgcTitleImages" ng-hide="vm.language">OBJETIVOS DE CALIDAD</h2>
			<h2 class="sgcTitleImages" ng-show="vm.language">QUALITY OBJECTIVES</h2>
			<hr class="lineTitleSgc">
			<h3 ng-hide="vm.language">
				<ul>
					<li>
						Incrementar el ingreso de alumnos a través de una oferta educativa innovadora y pertinente.
					</li>
					<li>
						Asegurar la permanencia de nuestros alumnos a través de programas educativos reconocidos por su calidad, que promuevan una
						formación profesional competitiva.
					</li>
					<li>
						Impulsar la eficiencia terminal con egresados de excelencia.
					</li>
				</ul>
			</h3>
			<h3 ng-show="vm.language">
				<ul>
					<li>
						To increase student’s entry through an innovative and relevant educational offer.
					</li>
					<li>
						To ensure the permanence of our students through educational programs recognized by their quality in order to promote competitive professional training.
					</li>
					<li>
						To promote terminal efficiency with graduates of excellence.
					</li>
				</ul>
			</h3>
		</div>
		<div class="col-xs-6 colXs6Responsive">
			<img src="images/sgc/objetivo.jpg" id="imgObjetivosDeCalidad" class="visibilityHidden sgcImages" alt="OBJETIVOS DE CALIDAD">
		</div>
	</div>
	<div class=" container spaceBetweenElements"></div>
</div>